@page "/Pedidos/PedidoRealizado"
<center>
    <h3>Pedido realizado</h3>
    <p>Su pedido ha sido confirmado.Puedes inicar el curso o seguir comprando</p>
    <a href="/" class="btn btn-primary">Inicio</a>
</center>